<template>
    <div class="account m-3 pt-3 mx-5">                      
      <div class="row">
        <div class="history col col-md-9">
          <h3>Shopping History</h3>
            <div class="mr-5 pr-2 pt-3" id="product_list">
              <div class="row" style="font-family:'Montserrat-light'">
                  <p class="col col-md-2 col-lg-2 col-xl-2 text-center">Time</p>
                  <p class="col col-md-6 col-lg-6 col-xl-6">Product</p>
                  <p class="col col-md-2 col;lg-2 col-xl-2 text-center">Quantity</p>
                  <p class="col text-right mr-5">Total</p>
                </div>
            <hr class="mt-1 mb-0 mx-1" />
            <div v-for="(data,index) in listTransaction" :key="index">
                <div class="row pt-2 review-list" :style="(index%2==0)?'background-color:white;color:darkorange':'background-color:darkorange;color:white'">
                    <p class="col col-md-2 col-lg-2 col-xl-2 text-center">{{parseDate(data.date)}}</p>
                    <div class="col col-md-8 col-lg-8 col-xl-8">
                      <span v-for="(product,productIndex) in data.product" :key="productIndex" class="row">
                      <p class="col col-md-9 col-lg-9 col-xl-9">{{product.product_name}} - {{product.detail_name}}</p>
                      <p class="col text-center">{{product.quantity}}</p>
                      </span>
                    </div>                                        
                    <p class="col text-right mr-3">$ {{data.total}}</p>
                </div>
            </div>
            <hr />
            </div>
        </div>
        <div class="col right-section ml-4">
        <h3 class="mt-5 text-center">MY ACCOUNT</h3>
        <hr/>
        <div class="my-5">
          <div class="row ml-3 my-2">
            <i class="at icon"></i>
            <p>{{userData.username}}</p>
          </div>
          <div class="row ml-3 my-2">
            <i class="user icon"></i>
            <p>{{userData.email}}</p>
          </div>
          <div class="row ml-3 my-2">
            <i class="phone icon"></i>
            <p>{{userData.phone}}</p>
          </div>
        </div>
        <div class='text-center my-4'>
          <button id="edit-btn" class="py-3" style="background-color: darkorange;color:white;letter-spacing:2px" @click="editData">Edit My Data </button>
        </div>
    </div>
      </div>
        <div class="my-address mt-5">
          <h3>My Addresses</h3>
            <div class="pt-3" id="address_list">
              <div class="row ml-3" style="font-family:'Montserrat-light'">
                  <p class="col col-md-2 col-lg-2 col-xl-2">Addressee Name</p>
                  <p class="col col-md-5 col-lg-5 col-xl-5 text-center">Street name</p>
                  <p class="col text-center mr-3">City</p>
                  <p class="col text-right mr-3">Postal Code</p>
                  <p class="col text-right mr-3">Action</p>
                </div>
            <hr class="mt-1 mb-0 ml-3 mr-1" />
            <span v-if="listAddress==null" class="text-center">
              <h6  style="background-color:darkorange;color:white" class="p-3">There is nothing address saved</h6>
            </span>
            <span v-else>
              <div v-for="(data,index) in listAddress" :key="data.address_id">
                  <div class="row pl-2 ml-3 mr-1 review-list pt-2" :style="(index%2==0)?'background-color:white;color:darkorange':'background-color:darkorange;color:white'">
                      <p class="col col-md-2 col-lg-2 col-xl-2">{{data.addressee}}</p>
                      <p class="col col-md-5 col-lg-5 col-xl-5 text-center">{{data.street_name}}</p>
                      <p class="col text-center mr-3">{{data.region}}</p>
                      <p class="col text-right mr-3">{{data.postal_code}}</p>
                      <div class="col text-right">                      
                        <i class="edit icon" style="cursor:pointer" @click="editAddress(data)"></i>                      
                        <i class="trash icon" style="cursor:pointer" @click="deleteAddress(data,index)"></i>
                      </div>
                  </div>
              </div>
            </span>
            <hr class="mt-1 mb-0 ml-3 mr-1" />
            </div>
        </div>
    </div>            
</template>

<script>


export default {
 name: 'account',
 components: {     
 },
 data() {
  return{        
     count:10,
     listTransaction:null,
     userData:null,
     listAddress:null
  }
 }, 
 mounted() {
   this.$api.getUserAddress().then((response)=>{          
     this.listAddress=response.data;     
   })
    this.$api.getListTransaction().then((response)=>{      
      this.listTransaction = response.data.data;
    })
    this.$api.getUser().then((response)=>{
      this.userData=response.data;      
    })
  },
  methods: {
    showMore(){
      this.count =(this.count+8>this.angka)?this.angka:this.count+8;      
    },
    editData(){
      this.$router.push({'name':'account-edit',params:{data:this.userData}});
    },
    parseDate(date){
      let dateTime = new Date(date);
      return dateTime.getDate()+'-'+dateTime.getMonth()+'-'+dateTime.getFullYear()+' '+dateTime.getHours()+':'+dateTime.getMinutes();
    },
    editAddress(data){
      this.$router.push({'name':'address-edit',params:{'address_id':data.address_id}});
    },
    async deleteAddress(data,index){
      var loader = document.getElementById('loader');
      loader.className+=' active';      
      this.sleep(3000);
      this.$api.deleteUserAddress(data.address_id).then(()=>{
        loader.className='ui dimmer';        
        this.listAddress.splice(index,1);
        this.$swal.fire({
          icon: "success",
          title: "Delete Address Succesfully",          
          focusConfirm: true
        });
      }).catch(()=>{
        loader.className='ui dimmer';      
        this.$swal.fire({
          icon: "error",
          title: "Failed to delete data",          
          focusConfirm: true
        });
      });
    }
    
  },
}
</script>

<style lang="scss" scoped>
  .account{      
    font-family: 'Montserrat-medium',serif;
  }
  .right-section{    
    border: 2px solid darkorange;
    border-radius: 20px;
  }
  #product_list,#address_list{
    max-height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
</style>