<template>
  <div class="cart m-3">
      <div class="breadcrumbs">
      <b-breadcrumb>
        <b-breadcrumb-item :to="{name:'dashboard'}">Home</b-breadcrumb-item> 
        <b-breadcrumb-item active>Cart</b-breadcrumb-item>         
       </b-breadcrumb>
    </div>    
      <div class="row mt-3">
          <div class="col col-md col-lg col-xl col-md-6 col-lg-6 col-xl-6 pr-5">              
              <h3 style="font-family:'Montserrat-medium',serif" class="pb-3">Shopping Cart</h3>
              <hr />
              <span v-if="listProduct.cart_product.length==0">
                  <p class="ml-4">There is Nothing in Your Cart</p>
              </span>
              <span v-else>
                <div  v-for="data in listProduct.cart_product" :key="data.cart_id">
                    <div class="row" id="product-list">
                        <div class="col col-md col-md-3 m-2">
                            <img class="image" :src="data.imagePath">   
                        </div> 
                        <div class="col col-md col-md-5 m-2">                        
                            <p>{{data.product}}</p>                        
                            <span class="row col mb-2">                            
                                <p style="font-size:11px">{{data.variation}} : {{data.detail_product}}</p>
                            </span>
                            <vue-number-input @change="onChange(data)" v-model="data.quantity" inline center controls :max="10" :min="0" :placeholder="'Quantity'" id="quantity-input"></vue-number-input>
                        </div> 
                        <div class="col col-md col-md-2 m-2 px-2">
                            <p>$ {{data.price}}</p>
                        </div> 
                        <div class="float-right close">
                            <i class="close icon" style="cursor:pointer" @click="removeProduct(data)"></i>
                        </div> 
                    </div>
                    <hr class="mr-2" />
                </div>
            </span>
          </div>
          <div class="col col-md countcol-lg col-xl col-md-1 col-lg-1 col-xl-1">
          </div>
          <div class="col col-md col-lg col-xl col-md-5 col-lg-5 col-xl-5">
              <div class="review mx-1 p-3">
                  <h2 style="font-family:'Montserrat-medium',serif" class="py-3">Review Order</h2>
                      <div class="row ml-3" style="font-family:'Montserrat-light'">
                          <p class="col col-md-6 col-lg-6 col-xl-6">Product</p>
                          <p class="col text-center">Quantity</p>
                          <p class="col text-right mr-3">Price</p>
                        </div>
                  <hr class="mt-1"/>
                  <span v-if="listProduct.cart_product.length==0">
                        <div class="col text-center pt-4" style="min-height:50px">-</div>
                  </span>
                  <span v-else>
                      <div  v-for="data in listProduct.cart_product" :key="data.cart_id">
                      <div class="row ml-3 review-list">
                          <p class="col col-md-6 col-lg-6 col-xl-6">{{data.product}}</p>
                          <p class="col text-center">{{data.quantity}}</p>
                          <p class="col text-right mr-3">$ {{getSubTotal(data.quantity,data.price)}}</p>
                      </div>
                  </div>
                  </span>                  
                  <hr />
                  <div class="row ml-3" style="font-weight:900">
                        <p class="col">Total</p>
                        <p class="col text-right mr-3">$ {{total}}</p>
                   </div>
                   <hr />                   
                    <div class="text-center checkout" :style="total==0?'opacity:0.5':'opacity:1'">
                        <button id="add-product" @click="addProduct()" :disabled="total==0"> CHECKOUT</button>
                    </div>                   
              </div>              
          </div>
        </div>        
  </div>
</template>

<script>
import VueNumberInput from '@chenfengyuan/vue-number-input';
import { BBreadcrumb, BBreadcrumbItem} from 'bootstrap-vue';

export default {
 name: 'cart',
 components: {
     VueNumberInput,BBreadcrumb,BBreadcrumbItem
 },
 data() {
  return{       
     total:0,
     listProduct:[],
     firstLoad:true,
     iteration:0
  }
 }, 
 mounted() {
     this.$api.getUserCart().then((response)=>{
        this.listProduct=response.data[0];
        var imagePathList=(this.$store.state.imgPath);
        this.listProduct.cart_product.forEach(productDetail=>{            
            var regexProduct = new RegExp(productDetail.product_id);                 
            imagePathList.filter(value=>regexProduct.test(value)).forEach(data=>{         
                productDetail.imagePath=require('@/assets/img/product'+data.substr(1));            
         })     
        })    
     })
  },  
  methods: {
    addProduct(){        
        this.$router.push({name:'order'});
    },
    getSubTotal(quantity,price){
        return quantity*price;

    },
    
    removeProduct(temp){        
        this.$api.removeProductFromCart(temp).then(()=>{
            this.listProduct.cart_product.length;                    
            let indexData = this.listProduct.cart_product.findIndex(data=>data.cart_product_id==temp.cart_product_id);                    
            this.listProduct.cart_product.splice(indexData,1);
            this.$store.state.product_count=this.listProduct.cart_product.length;
        })
    },      
    onChange(event) {            
      if(this.iteration>=this.listProduct.cart_product.length){            
            var temp = JSON.parse(JSON.stringify(event));            
            let newBiaya= this.getSubTotal(event.quantity,event.price);
            let oldBiaya = temp['subtotal'];            
            if (temp.subtotal)delete temp['subtotal'];
            delete temp['detail_product'];
            delete temp['product'];
            delete temp['variation'];
            delete temp['price'];
            if(event.quantity!=0){
                this.$api.editProductToCart(temp).then(()=>{
                    this.product_count=this.listProduct.cart_product.length;
                    this.$store.state.product_count=this.listProduct.cart_product.length;                
                }).catch((error)=>{
                    if(!error.response){
                        this.handleError();
                    }
                });        
            }else{
                delete temp['quantity'];
                this.$api.removeProductFromCart(temp).then(()=>{
                    this.listProduct.cart_product.length;                    
                    let indexData = this.listProduct.cart_product.findIndex(data=>data.cart_product_id==temp.cart_product_id);                    
                    this.listProduct.cart_product.splice(indexData,1);
                    this.$store.state.product_count=this.listProduct.cart_product.length;                    
                  }).catch((error)=>{
                    if(!error.response){
                        this.handleError();
                    }
                })                
            }
            event['subtotal']=newBiaya;            
            this.total+=(!oldBiaya)?newBiaya:(newBiaya-oldBiaya);            
      }      
      if(this.iteration<this.listProduct.cart_product.length){          
          this.total+=this.getSubTotal(event.quantity,event.price);
          event['subtotal']=this.getSubTotal(event.quantity,event.price);
      }
      this.iteration+=1;      
    },   
  },
}
</script>

<style lang="scss" scoped>
  .cart{
    background-color: #ddd;
    padding: 40px;
    padding-left: 40px;    
    
  }
  .image{
      width: 100px;
      height: 100px;
  }
  #product-list{
      p{
          font-family: 'Montserrat-medium',serif;
          word-wrap: break-word;
          float: left;
          margin-top:10px;
          font-size: 15px;
          letter-spacing: 1px;
      }
  }  
  .close{
      font-size: 20px;
      color: black;    
  }
  .review{
      background-color: white;
      min-height: 300px;
      border-radius: 20px;
      p{  
          font-family: 'Montserrat',serif;
          word-wrap: break-word;
          float: left;          
          font-size: 15px;
      }
      .review-list{
          min-height: 40px;
          p{
                font-family: 'Montserrat-light',serif;
                word-wrap: break-word;
                float: left;          
                font-size: 15px;    
          }
      }
  }
  #add-product{
        text-align: center;
        font-family: 'Montserrat',serif;
        background-color: darkorange;
        color:white;                
    }
    .checkout{
        button{
            text-align: center;
            font-family: 'Montserrat',serif;
            background-color: darkorange;
            color:white;
            padding: 10px;            
        }
    }
</style>
