<template>
  <div class="category m-3">
    <div class="breadcrumbs">
      <b-breadcrumb>
        <b-breadcrumb-item :to="{name:'dashboard'}">Home</b-breadcrumb-item>        
        <b-breadcrumb-item  active>{{listProduct[0].name}}</b-breadcrumb-item>        
      </b-breadcrumb>
    </div>
    <div class="category-list m-3">
      <CategoryList :categoryData="listProduct[0]" />
    </div>
  </div>
</template>

<script>

import CategoryList from '../../components/CategoryList.vue';
import { BBreadcrumb, BBreadcrumbItem } from 'bootstrap-vue';

export default {
 name: 'category',
 components: {
   CategoryList,BBreadcrumb,BBreadcrumbItem
 },
 data() {
  return{                  
     listProduct:[]     
  }
 }, 
 mounted() {
      this.$api.getListCategoryFull().then((response)=>{
         this.listProduct=response.data.data;     
      });   
  },
  
}
</script>

<style lang="scss" scoped>
  .category{
    // width: 90%;
    // background-color:#ddd;
  }
  .category-list{

  }
</style>