<template>
    <div class="login m-3 mt-5 pt-3">        
        <h2 class="my-5">CHANGE PASSWORD ACCOUNT</h2>        
        <div class="form-group text-center m-auto pb-3" style="width:30%">
          <div class="input-group">
            <i class="ml-3 pt-3 lock icon" style="z-index: 10;position:absolute"></i>
            <input
              class="form-control input-login" style="text-indent:30px"
              name="username"
              v-model="first_password"              
              v-validate.continues="'required'"
              :class="{ input: true, 'is-danger': errors.has('username') }"
              type= 'password'
              placeholder="Password"                          
            />              
          </div>
        </div>
        <div class="form-group text-center m-auto pb-3" style="width:30%">
          <div class="input-group">
            <i class="ml-3 pt-3 lock icon" style="z-index: 10;position:absolute"></i>
            <input
              class="form-control input-login" style="text-indent:30px"
              name="username"
              v-model="confirmation_password"              
              v-validate.continues="'required'"
              :class="{ input: true, 'is-danger': errors.has('username') }"
              type= 'password'
              placeholder="Type Again Your Password"                          
            />              
          </div>
        </div>
        <p style="position:absolute;width:100%" class="mx-0 text-danger" v-if="this.failed">Password Not Match</p>
        <button id="login-btn" class="mr-3 py-3 my-5 ml-3" style="background-color: darkorange;color:white; width:30%;letter-spacing:5px" @click="changePassword()">SAVE </button>
    
    </div>
</template>

<script>

export default {
 name: 'edit-password',
 components: {
   
 },
 data() {
  return{        
     first_password:null,
     confirmation_password:null,
     failed:false
  }
 }, 
  methods: {
    changePassword(){
      if (this.first_password!=this.confirmation_password){
          this.failed=true;
          return;
        }
      var loader = document.getElementById('loader');
      loader.className+=' active';
      this.$api.change_password(this.$route.params.token,this.first_password).then(()=>{
        loader.className='ui dimmer';
          this.$swal.fire({
            icon: "success",
            title: "Password Successfully Changed",
            focusConfirm: true,
            willClose: () => {                            
              this.$router.push({name:'login'});
            },
          });        
      }).catch((error)=>{
        loader.className='ui dimmer';
        if(error.response){
            this.$swal.fire({
              icon: "error",            
              title: "Failed to Change Data",
              text:error.response.data.error,
              focusConfirm: true
            });        
        }else{
          this.handleError(error);
        }
      });
    }
  },
}
</script>

<style lang="scss" scoped>
  .login{
      margin: auto;
      text-align: center;
      font-family: 'Montserrat-medium',serif;
      h1{        
        letter-spacing: 7px;
        font-size: 35px;
      }
      #pass_text{
        font-family: 'Montserrat-light',serif;
      }
    input{
        height:50px;
    }
  }
  #forgot-pass{
    width: 30%;
    margin: auto;
    text-align: right;
    padding-top:10px;
    font-family: 'Montserrat-light',serif;
    cursor: pointer;

  }  
</style>