<template>
    <div class="forget_pass m-3 mt-5 pt-3">      
        <h1 class="my-5">RECOVER PASSWORD</h1>
        <p id="pass_text">Please enter your email address</p>        
        <div class="form-group text-center mx-auto my-4" style="width:30%">
          <div class="input-group">
            <i class="ml-3 pt-3 user icon" style="z-index: 10;position:absolute"></i>
            <input
              class="form-control input-login" style="text-indent:30px"
              name="email"
              v-model="email"
              v-on:keyup.enter="validateBeforeSubmit()"
              v-validate.continues="'required'"
              :class="{ input: true, 'is-danger': errors.has('username') }"
              type="email"
              placeholder="Email"
            />
          </div>
        </div>                

        <button id="login-btn" class="mr-3 py-3 my-4 ml-3" style="background-color: darkorange;color:white; width:30%;letter-spacing:5px" @click="sendRequest()">SEND </button>
    
    </div>
</template>

<script>

export default {
 name: 'login',
 components: {
   
 },
 data() {
  return{        
    email:null,
  }
 }, 
 mounted() {
   
  },
  methods: {
    sendRequest(){
      var loader = document.getElementById('loader');
      loader.className+=' active';
      this.$api.forget(this.email).then(()=>{
        loader.className='ui dimmer';
        this.$swal.fire({
            icon: "success",
            title: "Request Change Password Success",
            focusConfirm: true,
            willClose: () => {
              this.$router.push({name:'notif',params:{type:'recover'}});
            },
          });        
      }).catch((error)=>{
        loader.className='ui dimmer';
        if(error.response){
            this.$swal.fire({
              icon: "error",            
              title: "Operation Failed",
              text:error.response.data.error,
              focusConfirm: true
            });        
        }else{
          this.handleError(error);
        }

      });
    }
  },
}
</script>

<style lang="scss" scoped>
  .forget_pass{
      margin: auto;
      text-align: center;
      font-family: 'Montserrat-medium',serif;
      h1{        
        letter-spacing: 7px;
        font-size: 25px;
      }
      #pass_text{
        font-family: 'Montserrat-light',serif;
      }
    input{
        height:50px;
    }
  }
  #forgot-pass{
    width: 30%;
    margin: auto;
    text-align: right;
    padding-top:10px;
    font-family: 'Montserrat-light',serif;
    cursor: pointer;

  }
</style>