<template>
    <div class="login m-3 mt-5 pt-3">        
        <h1 class="mt-5">LOGIN</h1>
        <p id="pass_text">Please enter your email and password</p>
        <!-- <p class="pb-2 text-danger" v-if="failed">Incorrect username or password</p> -->
        <div class="form-group text-center mx-auto mt-3" style="width:30%">
          <div class="input-group">
            <i class="ml-3 pt-3 user icon" style="z-index: 10;position:absolute"></i>
            <input
              class="form-control input-login" style="text-indent:30px"
              name="username"                            
              v-validate.continues="'required'"
              :class="{ input: true, 'is-danger': errors.has('username') }"
              type="text"
              v-model="user.username"
              placeholder="Email or Username"
            />
          </div>
        </div>
        <div class="form-group text-center m-auto" style="width:30%">
          <div class="input-group">
            <i class="ml-3 pt-3 lock icon" style="z-index: 10;position:absolute"></i>
            <input
              class="form-control input-login" style="text-indent:30px"
              name="username"
              v-model="user.password"              
              v-validate.continues="'required'"
              :class="{ input: true, 'is-danger': errors.has('username') }"
              :type="pass_tipe === 'password' ? 'password' : 'text'"
              placeholder="Password"                          
            />
            <i              
              class="field-icon mr-2 mt-3"
              style="z-index: 10;position:absolute;right:0"              
              v-on:click="pass_tipe = pass_tipe == 'password' ? 'text' : 'password'"
            >
              <span v-if="pass_tipe == 'password'"> <i class="eye icon"></i></span>
              <span v-else><i class="eye slash icon"></i></span>
            </i>
          </div>
        </div>
        
        <div id="forgot-pass">
            <router-link :to="{name:'forget'}">Forgot Password ?</router-link>
        </div>

        <button id="login-btn" class="mr-3 py-3 my-4 ml-3" style="background-color: darkorange;color:white; width:30%;letter-spacing:5px" @click="login()">LOGIN </button>
        <div class="text-center mb-5">
            <router-link :to="{name:'register',props:{tipe:'register'}}">Register </router-link>
        </div>
    
    </div>
</template>

<script>
export default {
 name: 'login',
 components: {
   
 },
 data() {
  return{        
     user:{},
     pass_tipe:'password'
  }
 }, 
  methods: {
    login(){
      var loader = document.getElementById('loader');
      loader.className+=' active';
      this.$api.login(this.user).then((result)=>{
        loader.className='ui dimmer';
          this.$swal.fire({
            icon: "success",
            title: "Login as " + this.user.username + " Successfull",
            focusConfirm: true,
            willClose: () => {              
              this.$store.dispatch("storeLoginData", result.data);
              this.$router.go(-1);              
            },
          });        
      }).catch((error)=>{
        loader.className='ui dimmer';
        if(error.response){
            this.$swal.fire({
              icon: "error",            
              title: "Failed to Create Data",
              text:error.response.data.error,
              focusConfirm: true
            });        
        }else{
          this.handleError(error);
        }
      });
    }
  },
}
</script>

<style lang="scss" scoped>
  .login{
      margin: auto;
      text-align: center;
      font-family: 'Montserrat-medium',serif;
      h1{        
        letter-spacing: 7px;
        font-size: 35px;
      }
      #pass_text{
        font-family: 'Montserrat-light',serif;
      }
    input{
        height:50px;
    }
  }
  #forgot-pass{
    width: 30%;
    margin: auto;
    text-align: right;
    padding-top:10px;
    font-family: 'Montserrat-light',serif;
    cursor: pointer;

  }  
</style>