<template>
    <div>
        <div class="info my-5 text-center" v-if="getParentComponentName=='recover'">
            <h1 style="margin:100px auto;">We've sent a recovery link directly to your email.</h1>
            <p>
                Please check your email. We've sent a recovery link directly to your email. 
            </p>                    
            <p>
                Follow the instruction in mail to recover your account.
            </p>                    
        </div>
        <div class="info my-5 text-center" v-else-if="getParentComponentName=='register'">
            <h1 style="margin:100px auto;">Your Account Has Been Created.</h1>
            <p>
                Please check your email to activate your Account.                
            </p>                    
            <p>
                Happy shopping.
            </p>
            <p style="margin-top:40px">
                Jam Import Hade Team 
            </p>
            <router-link :to="{name:'login'}">
              <p style="margin-top:70px">
                  Back To Login
              </p>
            </router-link>
        </div>
    </div>
</template>

<script>

export default {
 name: 'notif', 
 props:['type'], 
 data() {  
  return{   
     slide: 0,
     headerImage:[],
     count:2     
  }
 },
 computed:{
   getParentComponentName:function(){     
     return this.type;
   }
 },
 mounted() {
   var c = require.context('@/assets/img/header', true, /.$/);   
   c.keys().forEach(element => {      
    this.headerImage.push(require("@/assets/img/header/"+element.split('/')[1]));
   });   
  },
  methods: {
    showMore(){
      this.count =(this.count+8>this.angka)?this.angka:this.count+8;      
    }
  },
}
</script>

<style lang="scss" scoped>
  .info{
      margin: auto;            
      font-family: 'Montserrat-medium',serif;
      height: 450px;
      border:1px solid #ddd;
      padding: auto 70px;
      width: 40%;            
      h1{        
        letter-spacing: 3px;
        font-size: 25px;
      }          
  }  
</style>