<template>
  <div class="order m-3">
      <div class="breadcrumbs">
      <b-breadcrumb>
        <b-breadcrumb-item :to="{name:'dashboard'}">Home</b-breadcrumb-item> 
        <b-breadcrumb-item :to="{name:'cart'}">Cart</b-breadcrumb-item> 
        <b-breadcrumb-item  active>Order</b-breadcrumb-item> 
       </b-breadcrumb>
    </div>
    <div class="row">
        <div class="col col-md col-lg col-xl col-md-7 col-lg-7 col-xl-7 alamat pl-3">          
            <h5 style="font-size:20px;font-family:'Montserrat-medium'" class="mt-2">Shipping Address</h5>
            <div class="row m-3">
                  <input type="radio" v-model="shipping_type" value="existing" class="mt-2">
                  <label class="col col-md-4 col-lg-4 col-xl-4 pt-3">Use Available Data</label>
                  <b-form-select :options="listAddress" v-model="selectedAddress" class="variasi-option mr-2 ml-3 col mt-2" :disabled="shipping_type==null||shipping_type== 'new'"></b-form-select> 
            </div>
            <div class="row m-3">
                  <input type="radio" v-model="shipping_type" value="new" class="mt-2">
                  <label class="col col-md-4 col-lg-4 col-xl-4 pt-3">Create New Data</label>                  
            </div>            
            <user-address-forms v-if="showAddressForm()" :shipping_type="shipping_type" :selected="selectedAddress" ref="addressValue"></user-address-forms>
                                    
          <div class="text-center" v-if="showAddressForm()">
            <button id="check_shipping_fee" class="mr-3 px-4 py-3 bg-info button" style="color:white" @click="checkShippingFee()">Check Shipment Fee </button>
            <button id="pay-btn" class="mr-3 px-4 py-3" style="background-color: darkorange;color:white" @click="orderProduct()">Pay The Items </button>
          </div>          
        </div>        
        <div class="col info-barang mr-3 py-3">
            <div class="diskon-area">
              <h3>VOUCHER AREA</h3>
              <div class="row mt-4">
                <div class="ui input focus col col-md-9 ml-4">
                  <input type="text" placeholder="Voucher Code" v-model="discount_code">
              </div>
                <button id="diskon-btn" class="col mr-3 button" :disabled="discount_code==null||discount_code==''" :style="discount_code==null||discount_code==''?'opacity:0.5':'opacity:1'" @click="checkVoucherCode()"> Apply</button>
              </div>              
            </div>
            <div class="text-info pt-2 ml-4" style="position:absolute" v-if="showDiscountInfo">
                  <p class="pl-2" v-if="discount_value==0">Sorry, claim voucher failed</p>
                  <p v-else>Claim Voucher Successfully</p>
              </div>
            <hr class="mt-5"/>
            <div class="product-list col pr-4">
                <div  v-for="data in listProduct.cart_product" :key="data.cart_id">
                    <div class="row ml-3 review-list my-3">
                        <span class="cart-item">{{data.quantity}}</span>
                        <img class="image" :src="data.imagePath">                        
                            <p class="col col-md-6 col-lg-6 col-xl-6 pt-5">{{data.product}} - {{data.detail_product}}</p>
                            <p class="col text-right pt-5 mr-2">$ {{data.price}}</p>
                    </div>
                  </div>
            </div>
            <hr class="mx-3"/>            
            <div class="row px-5">
              <p class="col col-md col-lg col-xl">Subtotal</p>
              <p class="col col-md col-lg col-xl text-right">$ {{listProduct.total_payment}}</p>
            </div>
            <div class="row px-5">
              <p class="col col-md col-lg col-xl">Shipment Fee</p>
              <p class="col col-md col-lg col-xl text-right">
                <span class="text-info" id="shipping_fee" v-if="shipping_value==null">Please Fill Shipping Address First</span>
                <span v-else>$ {{shipping_value}}</span>
                </p>
            </div>
            <div class="row px-5">
              <p class="col col-md col-lg col-xl">Discount</p>
              <p class="col col-md col-lg col-xl text-right text-danger" id="discount_value"> - $ {{discount_value}}</p>
            </div>
            <hr />
            <div class="row px-5 font-weight-bold">
              <p class="col col-md col-lg col-xl" style="font-size:20px">Total</p>
              <p class="col col-md col-lg col-xl text-right" style="font-size:20px">$ {{total_payment}}</p>
            </div>
        </div>        
    </div>    
  </div>
</template>

<script>

import { BBreadcrumb, BBreadcrumbItem, BFormSelect} from 'bootstrap-vue';
import UserAddressForms from './UserAddressForms.vue';

export default {
 name: 'order', 
 components: {
  BBreadcrumb,BBreadcrumbItem, BFormSelect,  
  UserAddressForms
 },
 data() {
  return{   
     checkedNames:[],    
     slide: 0,
     headerImage:[],
     count:5,
     check:null,     
     shipping_type:null,
     listAddress:[],
     selectedAddress:null,
     discount_code:null,
     listProduct:[],
     shipping_value:null,
     discount_value:0,
     voucher:[{name:'JAM',value:2000},{name:'IMPORT',value:5000},{name:'HADE',value:5000}],
     showDiscountInfo:false

  }
 },
 computed:{   
   total_payment:function(){
      return this.listProduct.total_payment+this.shipping_value-this.discount_value
    },
    isRequestSuccess:function(){      
      return this.$refs.addressValue.requestSuccess;
    }
 },
 watch:{
   shipping_type(newVal){
     if (newVal=='new')
      this.selectedAddress=null;     
   },      
 }, 
 mounted() {      
    this.$api.getUserCart().then((response)=>{
      this.listProduct=response.data[0];
      var imagePathList=(this.$store.state.imgPath);
        this.listProduct.cart_product.forEach(productDetail=>{            
            var regexProduct = new RegExp(productDetail.product_id);                 
            imagePathList.filter(value=>regexProduct.test(value)).forEach(data=>{         
                productDetail.imagePath=require('@/assets/img/product'+data.substr(1));            
         })     
        })      
    })
   this.$api.getUserAddress().then((response)=>{          
     this.listAddress.push({ value: null, text: 'Please select an option',disabled:true });
     response.data.forEach(data=>{
       this.listAddress.push({
         'value': data,'text':data.addressee+' - '+data.street_name+' - '+data.region+' - '+data.postal_code
       })
     })    
   })
  },
  methods: {
    async orderProduct(){
      if(this.shipping_type=='new'){
        await this.$refs.addressValue.validateBeforeSubmit();        
        if(this.$refs.addressValue.requestSuccess){
          this.selectedAddress=this.$refs.addressValue.userAddress;          
          this.selectedAddress.address_id=this.$refs.addressValue.user_address_id;
        }else return;
      }      
      var loader = document.getElementById('loader');
      loader.className+=' active';
      await this.sleep(2000);
      loader.className='ui dimmer';
      this.$router.push({name:'payment',params:{total:this.total_payment,addressee_id:this.selectedAddress.address_id}})
    },
    async checkVoucherCode(){
      var button = document.getElementById('diskon-btn');
      button.className+=' ui loading';
      await this.sleep(3000);
      let temp = this.voucher.find(data=>data.name==this.discount_code);
      if (temp!=null){        
        this.discount_value=temp.value;
      }
      this.showDiscountInfo=true;

      this.discount_code='';
      button.className=button.className.replace('ui loading','');      
      await this.sleep(3000);
      this.showDiscountInfo=false;
    },
    async checkShippingFee(){
      var button = document.getElementById('check_shipping_fee');
      button.className+=' ui loading';
      await this.sleep(3000);
      button.className=button.className.replace('ui loading','');
      this.shipping_value=2000;
    },
    showAddressForm(){      
      if(this.shipping_type==null)
        return false;
      if(this.shipping_type=='existing'){
        return (this.selectedAddress==null)?false:true;
      }
      return true;
    }       
  },
}
</script>

<style lang="scss" scoped>
  .alamat{
      background-color:white;
  }
  .info-barang{
      background-color:#eee;
  }
  .image{
      width: 100px;
      height: 110px;
  }  
  .cart-item {
    position: absolute;    
    background-color: #f56a76;
    text-align: center;    
    margin-left:-10px;
    width:20px;
    border-radius: 50%;
    padding: 1px 5px;
    margin-top: -10px;
    color: white;    
    font-weight: bold;
  }
  .diskon-area{
    h3{
      font-family: "Montserrat",serif;
      text-align: center;
    }
    input{
      width: 100%;      
    }
    p{  
      font-family: 'Montserrat-medium',serif;
      word-wrap: break-word;
      float: left;          
      font-size: 13px;      
    }    
  }  
  #diskon-btn{
    height: auto;
    font-size: 18px;
    text-align: center;        
    background-color: darkorange;
    font-family: 'Montserrat-medium',serif;
    padding:0px;
    color:white;
    border-radius: 10px;
  }
  .alamat{
    label{
      font-family: 'Montserrat-light',serif;
    }
    input::placeholder{
        color: #999999;
        opacity: 0.8;        
      }
  }
  .existing{
    font-family: 'Montserrat-medium',serif;
    font-size:14px;
  }
  .form{
    border: 1px solid black;
    margin:20px;
  }
  .product-list{
    max-height: 400px;
    overflow: scroll;

  }
    
    
</style>
