<template>
    <div class="success_process text-center">
        <i class="check circle icon text-success"></i>
        <p>Congratulations, your order successfull !</p>
        <router-link :to="{name:'dashboard'}"><h4>Go Shop Again</h4></router-link>
    </div>
</template>

<style lang="scss" scoped>
    .success_process{
        min-height:480px
    }
    i{
        font-size: 80px;        
        margin-top:150px;
    }
    p{
        font-family: 'Montserrat-medium',serif;
        font-size: 28px;
    }
</style>