<template>
    <div class="login m-3 mt-5 pt-3">      
        <h1 class="mt-5">PAYMENT</h1>
        <p id="pass_text">Please fill the form below</p>        
        <div class="form-group text-center m-auto" style="width:30%">
          <div class="input-group">
            <i class="ml-3 pt-3 closed captioning icon" style="z-index: 10;position:absolute"></i>
            <input class="form-control" style="text-indent:30px"
              name="Name" v-model="payment.name" v-validate="'required'"
              v-on:keyup.enter="validateBeforeSubmit()"              
              :class="{ input: true, 'is-danger': errors.has('Name') }"
              type="text" placeholder="Name"
            />
          </div>
          <div v-show="errors.has('Name')" class="help text-danger text-center mt-2" style="font-size:12px;position:absolute">{{ errors.first('Name') }}</div>
        </div>
        <div class="form-group text-center mx-auto mt-5" style="width:30%">
          <div class="input-group">
            <i class="ml-3 pt-3 lock icon" style="z-index: 10;position:absolute"></i>
            <b-form-select :options="listMethod" v-model="payment.method" class="col" style="text-indent:10px;height:50px"></b-form-select> 
            <div v-if="showCardError" class="text-danger text-center mt-5 pt-3" style="font-size:12px;position:absolute">
              <p>Please Select Card Type</p>
            </div>
          </div>          
        </div>
        <div class="form-group text-center mx-auto mt-5" style="width:30%">
          <div class="input-group">
            <i class="ml-3 pt-3 address card icon" style="z-index: 10;position:absolute"></i>
            <input v-validate="'required|credit_card'"
              class="form-control" style="text-indent:30px"
              name="Card Number" v-model="payment.card_number" 
              v-on:keyup.enter="validateBeforeSubmit()"              
              :class="{ input: true, 'is-danger': errors.has('Card Number') }"
              type="text"
              placeholder="Card Number"
            />            
          </div>
          <div v-show="errors.has('Card Number')" class="help text-danger text-center mt-2" style="font-size:12px;position:absolute">{{ errors.first('Card Number') }}</div>
        </div>
        <div class="form-group text-center mx-auto mt-5" style="width:30%">
          <div class="input-group">
            <i class="ml-3 pt-3 lock icon" style="z-index: 10;position:absolute"></i>
            <input
              class="form-control" style="text-indent:30px"
              name="CVC" v-model="payment.cvc" v-validate="'required|numeric'"
              v-on:keyup.enter="validateBeforeSubmit()"              
              :class="{ input: true, 'is-danger': errors.has('CVC') }"
              type="text"
              placeholder="CVC"
            />
          </div>
          <div v-show="errors.has('CVC')" class="help text-danger text-center mt-2" style="font-size:12px;position:absolute">{{ errors.first('CVC') }}</div>
        </div>                
        <div class="form-group mx-auto text-left mt-5" style="width:30%">
          <label class="col col-md-4 col-lg-4 col-xl-4 pl-0 text-left">Expiration</label>
          <div class="input-group row ml-0 mr-3">
            <b-form-select :options="listMonth" v-model="payment.expiration_month" class="col" style="height:50px"></b-form-select> 
            <input
              class="form-control col ml-3"              
              v-on:keyup.enter="validateBeforeSubmit()"              
              type="text" v-model="payment.expiration_year"
              placeholder="Year"
            />
            <div v-if="showExpirationError" class="text-danger text-center mt-5 pt-3" style="font-size:12px;position:absolute">
              <p>Please Select Expiration Date</p>
            </div>
        </div>      
          </div>          
                
        <button id="login-btn" class="mr-3 py-3 my-4 ml-3" style="background-color: darkorange;color:white; width:30%;letter-spacing:5px" @click="validateBeforeSubmit()">PROCESS ORDER </button>        
    
    </div>
</template>

<script>

import {BFormSelect} from 'bootstrap-vue';

export default {
 name: 'payment',
 props:['total','addressee_id'],
 components: {   
   BFormSelect
 },
 data() {
  return{   
     payment:{
       total_payment:0,
       method:null,
       expiration_month:null,
       expiration_year:null,
       card_number:null
     },
     firstLoad:true,
     listMethod:[
       {'value':null,'text':'Please Select Card Type'},
       {'value':'VISA','text':'VISA'}
     ],
     listMonth:[{value:null,text:'Please Select Month',disabled:true},'January','February','March','April','May','June','July','August','September','October','November','December']
  }
 },  
 computed:{
   getTotal:function(){
     return this.total||0;
   },
   getAddressee:function(){     
     return this.addressee_id;
   },
   showExpirationError:function(){
     return !this.firstLoad&&(this.payment.expiration_month==null||this.payment.expiration_year==null);
   },
   showCardError:function(){
     return !this.firstLoad&&this.payment.method==null;
   }
 },  
  methods: {
    validateBeforeSubmit() {     
      this.firstLoad=false;   
      this.$validator.validateAll().then((result) => {
        if (result) {            
          if(!this.$store.getters.isAuthenticated(Date.now())){
            this.$store.commit('reset'); 
            this.$router.push({name:'login'});            
          }else{
            this.processOrder();
          }         
        } else {
            this.validateForm();
            return;
        }
      });            
    },
    async processOrder(){      
      var loader = document.getElementById('loader');
      loader.className+=' active';
      this.payment.total_payment=this.getTotal;
      this.payment.address_id=this.getAddressee;
      await this.sleep(3000);
      this.$api.createTransaction(this.payment).then(()=>{        
        loader.className='ui dimmer';
        this.$store.state.product_count=0;
        this.$router.push({name:'order-notif'});
      }).catch((error)=>{
        loader.className='ui dimmer';
        if(error.response){
            this.$swal.fire({
              icon: "error",            
              title: "Failed to Create Data",
              text:error.response.data.error,
              focusConfirm: true
            });
        }else{
          this.handleError(error);
        }
      });      
    }   
  },
}
</script>

<style lang="scss" scoped>
  .login{
      margin: auto;
      text-align: center;
      font-family: 'Montserrat-medium',serif;
      h1{        
        letter-spacing: 7px;
        font-size: 35px;
      }
      #pass_text{
        font-family: 'Montserrat-light',serif;
      }
    input{
        height:50px;
    }
  }
  #forgot-pass{
    width: 30%;
    margin: auto;
    text-align: right;
    padding-top:10px;
    font-family: 'Montserrat-light',serif;
    cursor: pointer;

  }
</style>