<template>
  <div class="product-info m-4">
    <div class="breadcrumbs">
      <b-breadcrumb>
        <b-breadcrumb-item :to="{name:'dashboard'}">Home</b-breadcrumb-item> 
        <b-breadcrumb-item :to="{name:'category-product',params:{category:product.category}}">{{product.category}}</b-breadcrumb-item> 
        <b-breadcrumb-item  active>{{product.name}}</b-breadcrumb-item> 
       </b-breadcrumb>
    </div>    
      <div class ="product row m-5 p-3">
            <div class="col col-md col-lg col-xl col-md-6 col-xl-6 col-lg-6" style="background-color: #ddd;"> 
                <div id="img-section" class="text-center m-2" style="border:1px solid black">
                    <img class="main-image" :src="headerImage[showImage]">
                </div>
                <div class="row my-3">
                <i class="angle left icon" id="left-icon" @click="scrollHorizontal('left')" style="opacity:0.2" :hidden="!showAngleIcon()"></i>
                <div class="row text-center image-content col" id="image-content">                    
                    <img v-for="(data,index) in headerImage" :key="index" class="image-list" :src="data" @click="slideImage=index" @mouseover="showImage=index">
                </div>
                <i class="angle right icon" id="right-icon" @click="scrollHorizontal('right')" :hidden="!showAngleIcon()"></i>
                </div>
                <vue-gallery-slideshow class="text-center p-5" :images="headerImage" :index="slideImage" @close="slideImage = null"></vue-gallery-slideshow>
            </div>
            <div class="col col-md col-lg mr-5 ml-5">
                <h1 id="product-name">{{product.name}}</h1>
                <hr/>
                <h3 id="product-price">$ {{product.price}}</h3>
                <hr/>
                <div class="description pl-4" :style="product.description[0]=='-'?'white-space:pre':''">
                    <p>{{product.description}}                        
                    </p>
                </div>
                <hr/>                
                <div class="variasi" v-if="product.variation.length>0">
                    <h2>Product Variant</h2>
                    <!-- <span v-for="variation in product.variation" :key="variation.variation_id"> -->
                        <div class="row variasi-list m-3">
                            <!-- <label class="col mt-3">{{variation.variation_name}}</label>  -->
                            <label class="col mt-3">Variation </label> 
                            <b-form-select :options="setOptions(product.variation)" v-model="selected.variant" class="col variasi-option mr-4" :style="errorVariant?'border:1px solid red':''"></b-form-select> 
                        </div>
                    <!-- </span> -->
                </div>
                <div class="quantity row m-3">                    
                    <label class="col mt-3">Quantity</label>
                    <vue-number-input inline center controls :disabled="selected.variant==null" :max="limitBuy" :min="0" :placeholder="'Quantity'" id="quantity-input" v-model="selected.quantity" :style="errorQuantity?'border:1px solid red':''" class="border border-secondary mr-4"></vue-number-input>
                </div>
                <div  v-if="showFailedAdd" class="text-danger text-center">
                    <p>Please Select One Variant With Quantity More than One</p>
                </div>
                <div class="text-right m-3 pr-4">
                <button id="add-product" @click="addProduct()"> ADD TO CART    <i class="shopping cart icon ml-2"></i></button>                
                </div>
            </div>          
      </div>
  </div>
</template>

<script>

import { BBreadcrumb, BBreadcrumbItem, BFormSelect} from 'bootstrap-vue';
import VueGallerySlideshow from 'vue-gallery-slideshow';
import VueNumberInput from '@chenfengyuan/vue-number-input';

export default {
 name: 'product',
 components: {   
    BBreadcrumb, BBreadcrumbItem, BFormSelect,VueGallerySlideshow, VueNumberInput
 },
 data() {
  return{   
    showImage:0,
    slideImage:null,
    product:null,         
    headerImage:[],      
    selected:{
        product_id:null,
        variant:null,        
        quantity:0,
        variation_id:null,
        detail_product_id:null
    },
    firstLoad:true
  }
 }, 
 watch:{
     'selected.variant'(){
         this.selected.quantity=0;
     }
 },
 computed:{
     showFailedAdd(){
         return !this.firstLoad&&(this.selected.quantity == 0||this.selected.variant==null);
     },
     errorQuantity(){
         return !this.firstLoad&&this.selected.quantity == 0;
     },
     errorVariant(){
         return !this.firstLoad&&this.selected.variant == null;
     },
     limitBuy(){
         if (this.selected.variant){
            let data = this.product.variation[0].detail_product.find(detail=>detail.detail_product_id==this.selected.variant.split('-')[1]);
            return (data&&data.stock<10)?data.stock:10;
         }                  
         return 10;
     }
 },
 mounted() {     
     this.$api.getDetailProduct(this.$route.params.product_id).then((response)=>{         
         this.product=response.data.data;         
         var regexProduct = new RegExp(this.product.product_id);     
         var imagePathList=(this.$store.state.imgPath);     
         imagePathList.filter(value=>regexProduct.test(value)).forEach(data=>{         
            this.headerImage.push(require('@/assets/img/product'+data.substr(1)));                 
         })     
     });
  },
  methods: {
    showAngleIcon(){        
        return this.headerImage.length>3;
    },
    setOptions(variation){
        let option=[];
        option.push({ value: null, text: 'Please select an option',disabled:true });
        variation.forEach(variant=>{
            variant.detail_product.forEach(data=>{
                option.push({'value':variant.variation_id+'-'+data.detail_product_id,'text':variant.variation_name+' - '+data.detail_product_name});
            });
        })        
        return option;
    },
    scrollHorizontal(data){       
        var test=document.getElementById('image-content');
        var leftIcon=document.getElementById('left-icon');
        var rightIcon=document.getElementById('right-icon');        
        if (data=='left'){
            test.scrollLeft-=100;
            rightIcon.style.opacity=1;
            if(test.scrollLeft<=0){
                leftIcon.style.opacity=0.2;
            }
        }else {
            test.scrollLeft+=100;
            leftIcon.style.opacity=1;            
            if(test.scrollLeft>=220*(this.headerImage.length-3)){
                rightIcon.style.opacity=0.2;
            }
        }
    },
    async addProduct(){
        if(!this.$store.getters.isAuthenticated(Date.now())){
            this.$router.push({'name':'login'});
        }
        this.firstLoad=false;
        var btn = document.getElementById('add-product');
        if (this.selected.quantity==0||this.selected.variant==null)return;
        btn.className+=' ui loading button';
        await this.sleep(2000);
        this.selected.product_id = this.product.product_id;
        this.selected.variation_id = this.selected.variant.split('-')[0];
        this.selected.detail_product_id = this.selected.variant.split('-')[1];                        
        delete this.selected['variant'];
        this.$api.addProductToCart(this.selected).then(()=>{
            btn.className=btn.className.replace('ui loading','');
            this.$api.getUserCartCount().then((response)=>{
                this.product_count=response.count;      
                this.$store.state.product_count=this.product_count;
            })              
            this.selected.variant=null;
            this.selected.quantity=0;
            this.firstLoad=true;
        }).catch((error)=>{
            btn.className=btn.className.replace('ui loading','');
            if(error.response){
                this.$swal.fire({
                    icon: "error",            
                    title: "Failed to Create Data",
                    text:error.response.data.error,
                    focusConfirm: true
                });        
            }else{        
                this.handleError();
            }
        });        
    }
  },
}
</script>

<style lang="scss" scoped> 
    #product-name{
        font-family: "Montserrat-medium",serif;
        letter-spacing: 2px;
        font-weight: 800;
    }
    #product-price{
        padding:0;
        margin: 0px;
    }
    .description{
        font-family: 'Montserrat-medium';
        font-size: 15px;
        margin:10px 0;
    }    
    label{
        font-size: 18px;        
        font-family: 'Montserrat-light';        
    }        
    .variasi-option{
        background-color: white;
        height: 40px;
        border-radius: 0;
        width: 50%;        
        overflow: hidden;        
    }
    .image-list{        
        width:200px !important;
        height: 200px !important;
        padding:0 20px;
    }    
    .main-image{        
        padding: 20px;
        max-height: 500px;        
    }
    .image-content{
        overflow-x: hidden;
        flex-wrap: initial;
        margin-left:0;
        margin-right:0;        
        padding:0;
        max-height: 200px;
    }
    .angle{
        background-color: transparent;        
        margin-top:60px;        
        padding-top:30px;
        font-size:25px;
    }
    #add-product{
        text-align: center;
        font-family: 'Montserrat',serif;
        background-color: darkorange;
        color:white;
        padding: 15px;
        margin-top: 20px;  
    }         
</style>