<template>
    <div>        
        <div class="info my-5 text-center" v-if="successValidate">
            <h1 style="margin:100px auto;">Congratulations !!</h1>
            <p>
                Your account has been activate. You can shopping in our store now.
            </p>                            
            <p>
                Happy shopping.
            </p>
            <p style="margin-top:40px">
                Jam Import Hade Team 
            </p>
            <router-link :to="{name:'login'}">
              <p style="margin-top:50px">
                  Back To Login
              </p>
            </router-link>
        </div>
        <div class="info my-5 text-center" v-else-if="successValidate==null">
            <h1 style="margin:100px auto;">Sorry !!</h1>
            <p>
                Activate Account failed. Please try again in another minutes.                
            </p>                            
            <p>                
            </p>
            <p style="margin-top:40px">
                Jam Import Hade Team 
            </p>            
        </div>
        <div class="info my-5 text-center" v-else-if="!successValidate">
            <h1 style="margin:100px auto;">Sorry !!</h1>
            <p class="mx-4">
                Activate Account failed. Your token is invalid or has been expired. Please contact our team.
            </p>                            
            <p>                
            </p>
            <p style="margin-top:40px">
                Jam Import Hade Team                 
            </p>            
            <p style="vertical-align: middle; text-align:center; color:blue; font-size:10pxfont-weight:bold">
                jamimporthade@gmail.com
            </p>
        </div>
    </div>
</template>

<script>

export default {
 name: 'success-validate',  
 data() {  
    return{      
        token:null,
        successValidate:null
    }
 },  
 mounted() {
    this.token=this.$route.params.token;     
    var loader = document.getElementById('loader');
    loader.className+=' active';
    this.$api.verify_email(this.token).then(()=>{
        loader.className = 'ui dimmer';
        this.successValidate=true;
      }).catch((error)=>{
        loader.className='ui dimmer';
        if(error.response){
            this.successValidate=false;
        }
      });    
  },  
}
</script>

<style lang="scss" scoped>
  .info{
      margin: auto;            
      font-family: 'Montserrat-medium',serif;
      height: 450px;
      border:1px solid #ddd;
      padding: auto 70px;
      width: 40%;            
      h1{        
        letter-spacing: 3px;
        font-size: 40px;
        font-family: 'Montserrat-medium',serif;
      }          
  }  
</style>