<template>
    <div class="register m-3 mt-5 pt-3">        
      <h1 class="mt-3" v-if="$route.name=='register'">REGISTER</h1>        
      <h1 class="mt-3" v-else>EDIT USER DATA</h1>
        <p id="pass_text" v-if="tipe=='register'">Please fill information below</p>
        <div class="form-group text-center mx-auto mt-3" style="width:30%">
          <div class="input-group">
              <i class="ml-3 pt-3 at icon" style="z-index: 10;position:absolute"></i>
              <input v-model="user.username"
                class="form-control" style="text-indent:30px"
                name="Username" v-validate="'required|max:20'"
                v-on:keyup.enter="validateBeforeSubmit()"              
                :class="{ input: true, 'is-danger': errors.has('Username') }"
                type="text" placeholder="Username"/>                              
          </div>          
            <span v-show="errors.has('Username')" class="help text-danger mt-3" style="font-size:12px">{{ errors.first('Username') }}</span>
        </div>

        <div class="form-group text-center mx-auto mt-3" style="width:30%">
          <div class="input-group">            
            <i class="ml-3 pt-3 user icon" style="z-index: 10;position:absolute"></i>
            <input name="Email" v-model="user.email" v-validate="'required|email'"
              class="form-control input-login" style="text-indent:30px"              
               v-on:keyup.enter="validateBeforeSubmit()"              
              :class="{ input: true, 'is-danger': errors.has('Email') }"
              type="email" placeholder="Email"/>            
          </div>
          <span v-show="errors.has('Email')" class="help text-danger mt-3" style="font-size:12px">{{ errors.first('Email') }}</span>
        </div>
        
        <div class="form-group text-center m-auto" style="width:30%">
          <div class="input-group">
            <i class="ml-3 pt-3 lock icon" style="z-index:10;position:absolute"></i>
            <input v-if="!data"
              class="form-control input-login" style="text-indent:30px"
              name="Password" v-validate="'required|min:6|max:20'"
              v-on:keyup.enter="validateBeforeSubmit()"              
              :class="{ input: true, 'is-danger': errors.has('Password') }"              
              placeholder="Password"
              v-model="user.password"
              :type="pass_tipe === 'password' ? 'password' : 'text'"
            />
            <input v-else
              class="form-control input-login" style="text-indent:30px"
              name="Password" v-validate="'min:6|max:20'"
              v-on:keyup.enter="validateBeforeSubmit()"              
              :class="{ input: true, 'is-danger': errors.has('Password') }"              
              placeholder="Enter New Password"
              v-model="user.password"
              :type="pass_tipe === 'password' ? 'password' : 'text'"
            />
            <i              
              class="field-icon mr-2 mt-3"
              style="z-index: 10;position:absolute;right:0"              
              v-on:click="pass_tipe = pass_tipe == 'password' ? 'text' : 'password'"
            >
              <span v-if="pass_tipe == 'password'"> <i class="eye icon"></i></span>
              <span v-else><i class="eye slash icon"></i></span>
            </i>
          </div>
          <span v-show="errors.has('Password')" class="help text-danger mt-3" style="font-size:12px">{{ errors.first('Password') }}</span>
        </div>

        <div class="form-group text-center mx-auto mt-3" style="width:30%">
          <div class="input-group">
            <i class="ml-3 pt-3 phone icon" style="z-index: 10;position:absolute"></i>
            <input
              class="form-control input-login" style="text-indent:30px"
              name="Phone Number"           
              v-model="user.phone"   
              v-on:keyup.enter="validateBeforeSubmit()"
              v-validate.continues="'required|numeric'"
              :class="{ input: true, 'is-danger': errors.has('Phone Number') }"
              type="text"
              placeholder="Phone Number"              
            />
          </div>
          <span v-show="errors.has('Phone Number')" class="help text-danger mt-3" style="font-size:12px">{{ errors.first('Phone Number') }}</span>
        </div>
                
        <button class="mr-3 py-3 my-4 ml-3" style="background-color: darkorange;color:white; width:30%;letter-spacing:5px" v-if="$route.name=='register'" @click="validateBeforeSubmit()">REGISTER </button>
        <span v-else class="row m-auto" style="width:30%">
            <button class="py-3 my-4 mr-2 col bg-secondary text-white" style="letter-spacing:5px" @click="cancel()">CANCEL </button>
            <button class="py-3 my-4 ml-2 col bg-primary text-white" style="letter-spacing:5px" @click="validateBeforeSubmit()">UPDATE DATA </button>
        </span>        
    </div>
</template>

<script>

export default {
 name: 'userDataforms',
 components: {
 },
 props:['tipe','data'],
 data() {
  return{       
    pass_tipe:'password',
    user:{},    
  }
 }, 
 mounted() {   
  if(this.data){
      this.user=this.data;
      this.user.password=null;
    }
  },
  methods: {    
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if(!this.$store.getters.isAuthenticated(Date.now())){
            this.$store.commit('reset'); 
            this.$router.push({name:'login'});            
          }
          if(this.data)                    
            this.editUser();
          else                    
            this.registerUser();          
        } else {
            this.validateForm();
        }
      });
    },
    registerUser(){      
      var loader = document.getElementById('loader');
      loader.className+=' active';
      this.$api.register(this.user).then(()=>{
          loader.className='ui dimmer';
          this.$swal.fire({
            icon: "success",
            title: "Register as " + this.user.username + " Successfull",
            focusConfirm: true,
            willClose: () => {
              this.$router.push({name:'notif',params:{type:'register'}});
            },
          });        
      }).catch((error)=>{ 
        loader.className='ui dimmer';       
        if(error.response){
            this.$swal.fire({
            icon: "error",            
            title: "Failed to Create Data",
            text:error.response.data.error,
            focusConfirm: true,            
          });   
        }else
          this.handleError();
      })
    },
    editUser(){      
      var loader = document.getElementById('loader');
      loader.className+=' active';      
      this.$api.editUser(this.user).then((response)=>{
          if(response.data)
            this.$store.dispatch("storeLoginData", response.data);
          loader.className='ui dimmer';
          this.$swal.fire({
            icon: "success",
            title: "Edit data " + this.user.username + " Successfull",
            focusConfirm: true,
            willClose: () => {
              this.$router.push({name:'account'});
            },
          });        
      }).catch((error)=>{        
        loader.className='ui dimmer';
        if(error.response){
            this.$swal.fire({
            icon: "error",            
            title: "Failed to Create Data",
            text:error.response.data.error,
            focusConfirm: true,            
          });   
        }else this.handleError();
      })
    },
    cancel(){
      this.$router.go(-1);
    }

  },
}
</script>

<style lang="scss" scoped>
  .register{
      margin: auto;
      text-align: center;
      font-family: 'Montserrat-medium',serif;
      h1{        
        letter-spacing: 7px;
        font-size: 35px;
      }
      #pass_text{
        font-family: 'Montserrat-light',serif;
      }
    input{
        height:50px;
    }
  }
  #forgot-pass{
    width: 30%;
    margin: auto;
    text-align: right;
    padding-top:10px;
    font-family: 'Montserrat-light',serif;
    cursor: pointer;

  }
</style>