<template>
    <div class="form pb-4 m-5">        
        <h3 class="m-3">ADDRESSEE DETAIL</h3>
        <div class="row ml-5 mr-4 mt-4 pt-2">
            <label class="col col-md-4 col-lg-4 col-xl-4 pt-3">Addressee</label>
            <div class="ui input col" v-if="shipping_type!='existing'">
                <input type="text" placeholder="Input Addressee" v-model="userAddress.addressee"
                class="form-control" name="Addressee" v-validate="'required'"
                v-on:keyup.enter="validateBeforeSubmit()"
                :class="{ input: true, 'is-danger': errors.has('Addressee')}"
                />                    
                <div v-show="errors.has('Addressee')" class="help text-danger mt-4 pt-3 text-center" style="font-size:12px;position:absolute">{{ errors.first('Addressee') }}</div>                
            </div>
            <div v-else class="row pt-4 existing">
                <p class="col col-md-1">:</p>
                <p class="col">{{selected.addressee}}</p>
            </div>            
        </div>            
        <div class="row ml-5 mr-4 mt-4 pt-1">
            <label class="col col-md-4 col-lg-4 col-xl-4 pt-3">Phone Number</label>
            <div class="ui input col" v-if="shipping_type!='existing'">
                <input type="text" placeholder="Input Phone Number" v-model="userAddress.phone"
                  class="form-control" name="Phone Number" v-validate="'required|numeric'"
                  v-on:keyup.enter="validateBeforeSubmit()"
                  :class="{ input: true, 'is-danger': errors.has('Phone Number')}"
                >
                <span v-show="errors.has('Phone Number')" class="help text-danger mt-4 pt-3 text-center" style="font-size:12px;position:absolute">{{ errors.first('Phone Number') }}</span>
            </div>
            <div v-else class="row pt-4 existing">
                <p class="col col-md-1">:</p>
                <p class="col">{{selected.phone}}</p>
            </div>
        </div>
        <div class="row ml-5 mr-4 mt-4 pt-1">
            <label class="col col-md-4 col-lg-4 col-xl-4 pt-3">Country</label>
            <div class="ui input col" v-if="shipping_type!='existing'">
                <b-form-select :options="listCountry" v-model="userAddress.country" class="col variasi-option"></b-form-select>
                <div v-if="showCountryError" class="text-danger text-center mt-4 pt-3" style="font-size:12px;position:absolute">
                    <p>Please Select Country</p>
                </div>
            </div>
            <div v-else class="row pt-4 existing">
                <p class="col col-md-1">:</p>
                <p class="col">{{selected.country}}</p>
            </div>
        </div>        
        <div class="row ml-5 mr-4 mt-4 pt-2">
            <label class="col col-md-4 col-lg-4 col-xl-4 pt-3">Region</label>
            <div class="ui input col" v-if="shipping_type!='existing'">
                <input type="text" placeholder="Input Region Name" v-model="userAddress.region"
                  class="form-control" name="Region" v-validate="'required'"
                  v-on:keyup.enter="validateBeforeSubmit()"
                  :class="{ input: true, 'is-danger': errors.has('Region')}"
                
                />
                <span v-show="errors.has('Region')" class="help text-danger mt-4 pt-3 text-center" style="font-size:12px;position:absolute"> {{ errors.first('Region') }}</span>
            </div>
            <div v-else class="row pt-3 existing">
                <p class="col col-md-1">:</p>
                <p class="col">{{selected.region}}</p>
            </div>
        </div>
        <div class="row ml-5 mr-4 mt-4 pt-2">
            <label class="col col-md-4 col-lg-4 col-xl-4 pt-3">District</label>
            <div class="ui input col" v-if="shipping_type!='existing'">
                <input type="text" placeholder="Input District Name" v-model="userAddress.district"
                  class="form-control" name="District" v-validate="'required'"
                  v-on:keyup.enter="validateBeforeSubmit()"
                  :class="{ input: true, 'is-danger': errors.has('District')}"
                />
                <span v-show="errors.has('District')" class="help text-danger mt-4 pt-3 text-center" style="font-size:12px;position:absolute"> {{ errors.first('District') }}</span>
            </div>
            <div v-else class="row pt-3 existing">
                <p class="col col-md-1">:</p>
                <p class="col">{{selected.district}}</p>
            </div>
        </div>            
        <div class="row ml-5 mr-4 mt-4 pt-2">
            <label class="col col-md-4 col-lg-4 col-xl-4 pt-3">Street</label>
            <div class="ui input col" v-if="shipping_type!='existing'">
                <input type="text" placeholder="Input Street Name" v-model="userAddress.street_name"
                class="form-control" name="Street" v-validate="'required'"
                  v-on:keyup.enter="validateBeforeSubmit()"
                  :class="{ input: true, 'is-danger': errors.has('Street')}"
                />
                <span v-show="errors.has('Street')" class="help text-danger mt-4 pt-3 text-center" style="font-size:12px;position:absolute"> {{ errors.first('Street') }}</span>
            </div>
            <div v-else class="row pt-3 existing">
            <p class="col col-md-1">:</p>
            <p class="col">{{selected.street_name}}</p>
            </div>
        </div>
        <div class="row ml-5 mr-4 mt-4 pt-2">
            <label class="col col-md-4 col-lg-4 col-xl-4 pt-3">Postal Code</label>
            <div class="ui input col" v-if="shipping_type!='existing'">
                <input type="text" placeholder="Input Postal Code" v-model="userAddress.postal_code" 
                  class="form-control" name="Postal Code" v-validate="'required'"
                  v-on:keyup.enter="validateBeforeSubmit()"
                  :class="{ input: true, 'is-danger': errors.has('Postal Code')}"
                />
                <span v-show="errors.has('Postal Code')" class="help text-danger mt-4 pt-3 text-center" style="font-size:12px;position:absolute"> {{ errors.first('Postal Code') }}</span>
            </div>
            <div v-else class="row pt-3 existing">
            <p class="col col-md-1">:</p>
            <p class="col">{{selected.postal_code}}</p>
            </div>
        </div>
        <div class="row ml-5 mr-4 mt-4 pt-2">
            <label class="col col-md-4 col-lg-4 col-xl-4 pt-3">Other (Optional)</label>
            <div class="ui input col" v-if="shipping_type!='existing'">
                <input type="text" placeholder="Optional" v-model="userAddress.other"/>
            </div>
            <div v-else class="row pt-3 existing">
            <p class="col col-md-1">:</p>
            <p class="col" v-if="selected.other">{{selected.other}}</p>
            <p class="col" v-else> - </p>
            </div>
        </div>
        <div class="mx-auto mt-4 row" style="width:40%" v-if="!shipping_type">
            <button class="py-3 my-4 mr-2 col bg-secondary text-white" style="letter-spacing:5px" @click="$router.go(-1)">CANCEL </button>
            <button class="py-3 my-4 ml-2 col bg-primary text-white button" style="letter-spacing:5px" @click="validateBeforeSubmit()" id='update_btn'>UPDATE DATA </button>
        </div>
    </div>
</template>    

<script>

import { BFormSelect} from 'bootstrap-vue';

export default {
 name: 'userAddressforms',
 components: {
     BFormSelect
 },
 props:['shipping_type','selected','address_id'],

 data() {
  return{   
     akhir:true,     
     userAddress:{
         country:null
     },
     user_address_id:null,
     firstLoad:true,
     requestSuccess:false,
     listCountry:[
         { value: null, text: 'Please select an option',disabled:true },
         "Angola",
        "Anguilla",
        "Antigua",
        "Argentina",
        "Armenia",
        "Aruba",
        "Australia",
        "Austria",
        "Azerbaijan",
        "Bahamas",
        "Bahrain",
        "Bangladesh",
        "Barbados",
        "Belarus",
        "Belgium",
        "Belize",
        "Benin",
        "Bermuda",
        "Bhutan",
        "Bolivia",
        "Bosnia",
        "Botswana",
        "BouvetIsland",
        "Brazil",
        "BritishVirginIslands",
        "Brunei",
        "Bulgaria",
        "BurkinaFaso",
        "Burma",
        "Burundi",
        "CaicosIslands",
        "Cambodia",
        "Cameroon",
        "Canada",
        "CapeVerde",
        "CaymanIslands",
        "CentralAfricanRepublic",
        "Chad",
        "Chile",
        "China",
        "ChristmasIsland",
        "CocosIslands",
        "Colombia",
        "Comoros",
        "CongoBrazzaville",
        "Congo",
        "CookIslands",
        "CostaRica",
        "CoteDivoire",
        "Croatia",
        "Cuba",
        "Cyprus",
        "CzechRepublic",
        "Denmark",
        "Djibouti",
        "Dominica",
        "DominicanRepublic",
        "Ecuador",
        "Egypt",
        "ElSalvador",
        "England",
        "EquatorialGuinea",
        "Eritrea",
        "Estonia",
        "Ethiopia",
        "EuropeanUnion",
        "FalklandIslands",
        "FaroeIslands",
        "Fiji",
        "Finland",
        "France",
        "FrenchGuiana",
        "FrenchPolynesia",
        "FrenchTerritories",
        "Gabon",
        "Gambia",
        "Georgia",
        "Germany",
        "Ghana",
        "Gibraltar",
        "Greece",
        "Greenland",
        "Grenada",
        "Guadeloupe",
        "Guam",
        "Guatemala",
        "Guinea-Bissau",
        "Guinea",
        "Guyana",
        "Haiti",
        "HeardIsland",
        "Honduras",
        "HongKong",
        "Hungary",
        "Iceland",
        "India",
        "IndianOceanTerritory",
        "Indonesia",
        "Iran",
        "Iraq",
        "Ireland",
        "Israel",
        "Italy",
        "Jamaica",
        "Japan",
        "Jordan",
        "Kazakhstan",
        "Kenya",
        "Kiribati",
        "Kuwait",
        "Kyrgyzstan",
        "Laos",
        "Latvia",
        "Lebanon",
        "Lesotho",
        "Liberia",
        "Libya",
        "Liechtenstein",
        "Lithuania",
        "Luxembourg",
        "Macau",
        "Macedonia",
        "Madagascar",
        "Malawi",
        "Malaysia",
        "Maldives",
        "Mali",
        "Malta",
        "MarshallIslands",
        "Martinique",
        "Mauritania",
        "Mauritius",
        "Mayotte",
        "Mexico",
        "Micronesia",
        "Moldova",
        "Monaco",
        "Mongolia",
        "Montenegro",
        "Montserrat",
        "Morocco",
        "Mozambique",
        "Namibia",
        "Nauru",
        "Nepal",
        "NetherlandsAntilles",
        "Netherlands",
        "NewCaledonia",
        "NewGuinea",
        "NewZealand",
        "Nicaragua",
        "Niger",
        "Nigeria",
        "Niue",
        "NorfolkIsland",
        "NorthKorea",
        "NorthernMarianaIslands",
        "Norway",
        "Oman",
        "Pakistan",
        "Palau",
        "Palestine",
        "Panama",
        "Paraguay",
        "Peru",
        "Philippines",
        "PitcairnIslands",
        "Poland",
        "Portugal",
        "PuertoRico",
        "Qatar",
        "Reunion",
        "Romania",
        "Russia",
        "Rwanda",
        "SaintHelena",
        "SaintKittsandNevis",
        "SaintLucia",
        "SaintPierre",
        "SaintVincent",
        "Samoa",
        "SanMarino",
        "SandwichIslands",
        "SaoTome",
        "SaudiArabia",
        "Senegal",
        "Serbia",
        "Serbia",
        "Seychelles",
        "SierraLeone",
        "Singapore",
        "Slovakia",
        "Slovenia",
        "SolomonIslands",
        "Somalia",
        "SouthAfrica",
        "SouthKorea",
        "Spain",
        "SriLanka",
        "Sudan",
        "Suriname",
        "Svalbard",
        "Swaziland",
        "Sweden",
        "Switzerland",
        "Syria",
        "Taiwan",
        "Tajikistan",
        "Tanzania",
        "Thailand",
        "Timorleste",
        "Togo",
        "Tokelau",
        "Tonga",
        "Trinidad",
        "Tunisia",
        "Turkey",
        "Turkmenistan",
        "Tuvalu",
        "Uganda",
        "Ukraine",
        "UnitedArabEmirates",
        "UnitedStates",
        "Uruguay",
        "UsMinorIslands",
        "UsVirginIslands",
        "Uzbekistan",
        "Vanuatu",
        "VaticanCity",
        "Venezuela",
        "Vietnam",
        "WallisandFutuna",
        "WesternSahara",
        "Yemen",
        "Zambia",
        "Zimbabwe",
     ]
  }    
 }, 
 computed:{
    showCountryError(){
        return !this.firstLoad && this.userAddress.country == null;
    },
 },
 mounted() {     
     if (this.address_id){
         this.$api.getOneUserAddress(this.address_id).then((response)=>{
             this.userAddress=response.data;
         })
     }
 },   
  methods: {
    async validateBeforeSubmit() {
      this.firstLoad=false;
      var check=false;
      await this.$validator.validateAll().then((result) => {
        if (result) {
            check=true;
          if(!this.$store.getters.isAuthenticated(Date.now())){
            this.$store.commit('reset'); 
            this.$router.push({name:'login'});            
          }          
        } else {
            this.validateForm();
            return;
        }
      });
      if(check){          
        if(this.shipping_type=='existing'){
            await this.addData();
        }
        else this.updateData();
      }
    },
    async addData(){
        this.firstLoad=false;
        
        if(this.userAddress&&this.userAddress.country==null)return;
        var loader = document.getElementById('loader');
        loader.className+=' active';      
        await this.sleep(2000);
        await this.$api.addUserAddress(this.userAddress).then((response)=>{
            this.requestSuccess=true;
            loader.className='ui dimmer';                    
            this.user_address_id=response.data.data.id;            
        }).catch((error)=>{
            loader.className='ui dimmer';        
            if(error.response){
                this.$swal.fire({
                icon: "error",            
                title: "Failed to Add Data",
                text:error.response.data.error,
                focusConfirm: true
                });
            }else{
                this.handleError(error);
            }            
        });          
    },    
    async updateData(){
          this.firstLoad=false;
          if(this.selected&&this.selected.country==null)return;
          var loader = document.getElementById('loader');
          loader.className+=' active';      
          await this.sleep(2000);
          this.$api.editUserAddress(this.userAddress).then(()=>{
              loader.className='ui dimmer';        
              this.$swal.fire({
                icon: "success",
                title: "Address has been Updated",
                focusConfirm: true,
                willClose: () => {              
                    this.$router.push({name:'account'});
                }
              });
          }).catch((error)=>{
            loader.className='ui dimmer';        
            if(error.response){
                this.$swal.fire({
                icon: "error",            
                title: "Failed to Update Data",
                text:error.response.data.error,
                focusConfirm: true
                });        
            }else{
                this.handleError(error);
            }
        });      
      }
  },
}
</script>

<style lang="scss" scoped>
.alamat{
    label{
      font-family: 'Montserrat-light',serif;
    }
    input::placeholder{
        color: #999999;
        opacity: 0.8;        
      }
  }
  .existing{
    font-family: 'Montserrat-medium',serif;
    font-size:14px;
  }
  .form{
    border: 1px solid black;
    margin:20px;
  }
  .dddd{
      margin:50px;
  }
</style>