<template>
  <div class="dashboard">
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"      
      controls 
      indicators            
      fade
      label-next
      style="background-color:#ddd"
    >
      <span v-for="(data,index) in headerImage" :key="index">            
      <b-carousel-slide class="carousel-img"
        :img-src="data"
      >      
      </b-carousel-slide>            
        </span>      
    </b-carousel>
    <div class="product-content">
      <div class="product-header text-center">
        <h1> OUR PRODUCTS </h1>
      </div>      
      <hr class="mt-0"/>
      <div v-for="data in listProduct" :key="data.id">
        <CategoryList :dashboard="true" :categoryData="data" v-if="data.product.length" />
      </div>
    </div>
  </div>
</template>

<script>
import { BCarousel,BCarouselSlide } from 'bootstrap-vue';
import CategoryList from '../../components/CategoryList.vue';

export default {
 name: 'dashboard',
 components: {
   BCarousel,BCarouselSlide, CategoryList
 },
 data() {
  return{   
     listProduct:[],
     slide: 0,
     headerImage:[],
     count:2,
     datad:'header'
  }
 }, 
 methods: {     
   setJumbotronImage(){
      var path = require.context(`@/assets/img/header`, false, /.$/,'lazy');   
      path.keys().forEach(element => {     
        this.headerImage.push(require("@/assets/img/header/"+element.split('/')[1]));
      });
   },   
 },
 mounted() {   
   this.setJumbotronImage();
   this.$api.getListCategoryFull().then((response)=>{
     this.listProduct=response.data.data;     
   });      
   
  }  
}
</script>

<style lang="scss" scoped>
.dashboard{
  margin: 0;  
  background-color: #ddd;  
}
.carousel-img{
  height: 700px !important;  
}
.product-header{
  height: 75px;  
  padding: 20px;
  background-color: white;
  font-family: 'Montserrat',serif;
  letter-spacing: 10px;
}

hr{
  border:2px solid #aaa;
}
</style>

<style lang="scss">
  .carousel-indicators li{
    width: 30px;
    height: 30px;
    border-radius:50%;

  }

</style>