<template>
    <router-link :to="{name:'product',params:{'product_id':product.product_id}}">
        <div class="product col">
            <b-card
            :img-src="imagePath"
            :img-alt="product.name"        
            style="max-width: 20rem;"
            class="card-product p-2"
        >      
            <b-card-title class="product-title"><h3>{{product.name}}</h3></b-card-title> 
            <span class="row">
                <p class="product-price col col-9">$ {{product.price}}</p>
                <button class="cart-button col col-3">
                    <i class="shopping cart icon"></i> 
                </button>
            </span>
        </b-card>
        </div>
    </router-link>
</template>


<script>
import { BCard,BCardTitle } from 'bootstrap-vue'

export default {
 name: 'CardProduct',
 props:['product'],
 components: {
     BCard,BCardTitle
 },
 data() {
  return {   
      imagePath:null    
  }
 }, 
 mounted() {
     var regexProduct = new RegExp(this.product.product_id);     
     var imagePathList=(this.$store.state.imgPath);
     this.imagePath=require('@/assets/img/product'+imagePathList.filter(value=>regexProduct.test(value))[0].substr(1));
     

 }, 
}
</script>

<style lang="scss">
    .card-product{        
        width: 250px;
        border-radius: 20px;
        color:black;
    }        
    .product-title{
        font-weight: 900;
        word-wrap: break-word;
    }   
    .cart-button{
        font-size: 20px;        
        text-align: center;
        border: 1px solid ;
        background-color: darkorange;
        border-radius: 10px;
        i{
            color:white;
        }
    }   
    .product{
        cursor: pointer;
        height: auto;
    }  
    .product-price{
        font-size: 18px;
    }
    .card-product:hover{
        border:2px solid grey;
    }    
    

</style>
