<template>
  <div class="category-list p-4">    
    <h1 :class="!dashboard?'col col-md col-lg col-xl':''"> {{categoryData.name}} </h1>
    <div class="product-list">
        <ProductList :productList="categoryData.product" :showLimit="showLimit" />
      <div class="text-center" v-if="categoryData.product.length>showLimit">
        <button id="show-more" @click="showMore()"> SHOW MORE PRODUCT </button>
      </div>    
    </div>
  </div>
</template>

<script>
import ProductList from './ProductList'

export default {
 name: 'Category-List',
 props:{
     dashboard:{
         default:false,
         type:Boolean
     },
     categoryData:{
       default:''       
     }
 },
 components: {
   ProductList  
 },
 data() {
  return{
     listProduct:[],     
     showLimit:8,          
    }
 },  
  methods: {    
    showMore(){
        if(!this.dashboard)
            this.showLimit =(this.showLimit+8>this.categoryData.product.length)?this.categoryData.length:this.showLimit+8;
        else{
            this.$router.push({name:'category-product',params:{category:this.categoryData.name}});
        }
    }
  },
}
</script>

<style lang="scss" scoped>
#show-more{
  text-align: center;
  font-family: 'Montserrat-medium',serif;  
  background-color: darkorange;
  color:white;
  padding: 12px;
  margin-bottom: 20px;  
}
.product-list{
    background-color:white;
}
</style>