<template>
    <div class="form-group">
        <div class="input-group">

            <form class="form-inline">                
                <input type="text" v-bind:placeholder="place" aria-label="Search" class="form-control"
                       style="height: 35px; width: 250px; background-color: #E6E6E6"
                       id="input-icon-left" name="input-icon-left" @keyup="doFilter()" v-model="filterText" required/>
                <i id="filtersubmit" class="icon-search-for-incidents"
                   style="transform: scaleX(-1) translateX(-15px)"></i>                
            </form>

        </div>
    </div>
</template>

<script>
    export default {
        name: 'filterBar',
        props: ['place'],
        data() {
            return {
                filterText: ''
            }
        },
        methods: {
            doFilter() {
                this.$emit('filter', this.filterText)
            }
        }
    }
</script>