<template>
  <div class="footer text-center pt-5" style="font-family:'Montserrat-medium'">    
    <p>Copyright 2021</p>
    <p>Ghosting Online Shop</p>
    <p>Email : support@ghosting-forlife.com</p>

  </div>
</template>

<script>




export default {
  name: "Footer",
  data() {
    return {      
    };
  },
  mounted() {    

  },
  methods: {
  }
    
};
</script>

<style lang="scss" scoped>
  .footer{
    background-color: darkorange;  
    height: 200px;
  }
</style>