<template>
<div>
  <div class="ui dimmer" id="loader">
      <div class="ui loader"></div>
  </div>
  <div class="header m-0 p-0">
    <div class="header-contents row pt-3">
      <router-link to="/">
        <div class="header-logo" style="position:absolute;margin-top:-20px;margin-left:-40px">
            <img src="../assets/logo1.png" height="120px"> 
        </div>        
      </router-link>      
      <div class="company-name mt-3" style="margin-left:50px;">
        <h3 style="font-family:'Montserrat-medium-italic;font-size:30px" class="m-0 p-0">Ghosting</h3>
        <h3 style="font-family:'Montserrat-medium-italic;font-size:10px" class="m-0 p-0 text-right">best online shop</h3>
      </div>
      <div class="col">
        <span class="row float-right mt-4">
        <i class="power off icon pl-2 mr-4 text-dark" style="cursor:pointer" v-if="product!=null&&$route.name!='login'" @click="logout()"></i>
        <router-link :to="{name:'account'}">
          <i class="user icon pl-2  mr-4 text-dark" id="tooltip"></i>
           <b-tooltip target="tooltip" triggers="hover" v-if="this.$store.getters.isAuthenticated(Date.now())">
              Hai, {{$store.state.name}}
          </b-tooltip>
        </router-link>
        <router-link :to="{name:'cart'}">
            <i class="shopping cart icon text-dark pr-2 pl-2"></i>
            <span class="cart-item" v-if="product!=null&&$route.name!='login'">{{product}}</span>
        </router-link>
        </span>
      </div>      
    </div>    
  </div>      
  </div>
</template>

<script>
import { BTooltip } from 'bootstrap-vue';

export default {
  name: "Header",  
  components:{
    BTooltip
  },
  data() {
    return {   
      product:null   
    };
  },
  computed:{
    token(){      
      return this.$store.state.jwt;      
    },
    product_count(){
      return this.$store.state.product_count;
    }
  },
  watch:{
    // eslint-disable-next-line
    token(newval,oldval){      
      if(newval=='')
        this.product_count=null;      
      if(newval!='')
        this.getUserCount();
    },
    // eslint-disable-next-line
    product_count(newval,oldval){
      this.product=newval;
    }
  },
  mounted(){
    if(!this.$store.getters.isAuthenticated(Date.now()))
      this.getUserCount()
  },
  methods: {    
    async logout(){
      var loader = document.getElementById('loader');
      loader.className+=' active';
      this.$api.logout();      
      this.$store.commit("reset");
      await this.sleep(2000);
      loader.className='ui dimmer';
      if(this.$route.name!='dashboard'){
        this.$router.push({name:'dashboard'});
      }
    },
    getUserCount(){
      this.$api.getUserCartCount().then((response)=>{
        this.product=response.count;      
        this.$store.commit("setCartCount",this.product);
      })  
    },    
  },
};
</script>

<style lang="scss" scoped>    
  #company-name{
    font-size:30px;    
    font-family: "Montserrat-medium",serif;
    letter-spacing: 4px;
    height: 100%;
    margin-bottom:0;    
  }
  .data{
    background-color: white;
  }
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: darkorange;      
    height: 90px;

  .header-contents {
    display: flex;
    padding: 0 4%;
    margin: 0;

  }
  .cart-item {
    position: absolute;    
    background-color: #f56a76;
    text-align: center;    
    border-radius: 50%;
    padding: 1px 5px;
    margin-top: -10px;
    color: white;
    font-weight: bold;
  }
  i{
    font-size: 23px;    
  }    
}
</style>
