
<template>
    <div class="product-list row">
      <div  v-for="data in productList.slice(0,showLimit)" :key="data.id" class="col col-md col-lg col-xl col-md-3 col-xl-3 col-lg-3 mt-3 mb-3">
        <CardProduct :product="data" />
      </div>
    </div>
</template>

<script>
import CardProduct from './CardProduct'

export default {
 name: 'ProductList',
 props:['productList','showLimit'],
 components: {
   CardProduct
 },
 data() {
  return {        
  }
 }, 
 mounted() {   
  }
}
</script>

<style lang="scss" scoped>
.product-list{
  width: 100%;
  margin:auto;
  line-height: 20px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}
</style>