<template>
  <div id="App">    
    <div id="wrapper" class="m-0 p-0">      
      <div id="header-wrapper" class="m-0 p-0">        
        <Header/>
      </div>
         <div class="ui dimmer" id="loader">
            <div class="ui loader"></div>
        </div>
        <router-view />      
        <Footer/>
    </div>    
  </div>
</template>

<script>
import Vue from "vue";
import Header from "./components/Header";
import Footer from "./components/Footer";

export default Vue.extend({
  name: "App",
  components: {
    Header,Footer
  },
  mounted() {    
    var path = require.context(`@/assets/img/product`,true, /.$/,'lazy');
    this.$store.dispatch('storeImageListPath',path.keys());      
  },
});
</script>

<style lang="scss">
    @import "node_modules/bootstrap/scss/bootstrap";
    @import "node_modules/bootstrap-vue/src/index.scss";
    @font-face {
      font-family: 'Montserrat';
      src: url('./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf')format('truetype');
    }
    @font-face {
      font-family: 'Montserrat-medium';
      src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf')format('truetype');
    }
    @font-face {
      font-family: 'Montserrat-medium-italic';
      src: url('./assets/fonts/Montserrat/Montserrat-MediumItalic.ttf')format('truetype');
    }
    @font-face {
      font-family: 'Montserrat-thin';
      src: url('./assets/fonts/Montserrat/Montserrat-Thin.ttf')format('truetype');
    }
    @font-face {
      font-family: 'Montserrat-light';
      src: url('./assets/fonts/Montserrat/Montserrat-Light.ttf')format('truetype');
    }    
    @font-face {
      font-family: 'Montserrat-light-Italic';
      src: url('./assets/fonts/Montserrat/Montserrat-LightItalic.ttf')format('truetype');
    }    
</style>

<style lang="scss" scoped>
  *{
    margin: 0px;
    padding: 0px;
  }
</style>
<style lang="scss">
  #loader{
    position: fixed;
  }      
</style>